/* ========== Main ========== */
body {
    background-color: #fffde7; 
    /* #fffde7 */
}

input[type="search"] {
    height: 64px !important;
}

/* ========== Nav ========== */
nav {
    position: relative;
    width: 100%;
}
a {
    color: #000;
}

/* ========== Board ========== */
.main-board {
}

.grid {
    width: 95%;
    text-align: center;
    margin: 0 auto;
}

/* ========== List ========== */
.list {
    border-radius: 3px;
    background-color: #c5cae9;
}
.collection {
    border-radius: 3px;
    background-color: #fff;
    margin: 6px;
    max-height: 350px;
    overflow-y: scroll;
    border-color: #c5cae9;
}
.collection-item {
    background-color: red;
}
.collection-item:hover {
    background-color: #e8eaf6;
}
.task-name {
    display: inline;
}
li.collection-item.add-new-card {
    background-color: #c5cae9;
    border-color: #c5cae9;
}
li.collection-item.add-new-card:hover {
    background-color: #ADB1CC;
}
.grid-item>ul>li,
.grid-item>ul>a {
    text-align: left;
}
.due-date-div {
    display: block;
    border-radius: 3px;
    background-color: red;
    max-width: 100%;
}
.due-date-span {

}

/*Masonry.js classes*/
.gutter-sizer {
    width: 1%;
}
.grid-sizer,
.grid-item {
    width: 19%; 
}

/* ========== Media Queries ========== */
@media screen and (max-width: 980px) {
    .grid-sizer,
    .grid-item {
        float: left;
        width: 32%;
    }
}

@media screen and (max-width: 768px) {
    .grid-sizer,
    .grid-item {
        float: left;
        width: 48%;
    }
}

@media screen and (max-width: 640px) {
    .grid-sizer,
    .grid-item {
        float: left;
        width: 98%;
    }
}


